{{ define "main" }}

  {{ partial "page-title.html" . }}

    <section class="section contact">
    <div class="container">
      <div class="contact-col">
      	<div>
      		<p class="text-tertiary">{{.Content}}</p>
      	</div>
        <div class="mx-auto text-center">
          <p class="text-tertiary">
          	Email: 
	          	<a href="mailto:{{.Site.Params.email}}" class="btn-transparent">
	          		{{.Site.Params.email}}
		        </a>	
	      </p>
	      <p class="text-tertiary">
          	Phone: 
	          	<a href="tel:+1{{.Site.Params.phone}}" class="btn-transparent">
	          		{{.Site.Params.phone}}
	          	</a>
	      </p>
	      <p class="text-tertiary">Fax: {{.Site.Params.fax}}</p>
	      <p class="text-tertiary">Address: <br>{{.Site.Params.address | safeHTML}}</p>
        </div>
      </div>
    </div>
  </section>

{{ end }}