@import "https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,500,700";
@font-face {
  font-family: bwnistaint-xbd;
  src: url(../fonts/BwNistaInt-xBd.woff) format("woff");
  font-style: normal;
  font-display: swap;
}
body {
  line-height: 1.2;
  font-family: roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #4c4c4c;
  background-color: #fff;
  overflow-x: hidden;
}
:root {
  background-color: #333;
}
p {
  font-weight: 500;
  color: #4c4c4c;
  font-size: 16px;
  line-height: 1.8;
  font-family: roboto, sans-serif;
}
h1 {
  color: #000;
  font-family: playfair display, serif;
  line-height: 1.2;
  font-size: 80px;
}
h2 {
  color: #000;
  font-family: playfair display, serif;
  line-height: 1.2;
  font-size: 60px;
}
h3 {
  color: #000;
  font-family: playfair display, serif;
  line-height: 1.2;
  font-size: 40px;
}
h4 {
  color: #000;
  font-family: playfair display, serif;
  line-height: 1.2;
  font-size: 22px;
}
h5 {
  color: #000;
  font-family: playfair display, serif;
  line-height: 1.2;
  font-size: 18px;
}
h6 {
  color: #000;
  font-family: playfair display, serif;
  line-height: 1.2;
  font-size: 14px;
}
.h1 {
  font-size: 80px;
}
.h2 {
  font-size: 60px;
}
.h3 {
  font-size: 40px;
}
.h4 {
  font-size: 22px;
}
.h5 {
  font-size: 18px;
}
.h6 {
  font-size: 14px;
}
.btn {
  font-size: 22px;
  font-family: playfair display, serif;
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;
  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
  &:active {
    box-shadow: none;
  }
}
.btn-sm {
  font-size: 15px;
  padding: 10px 30px;
}
.btn-xs {
  padding: 5px 10px;
  font-size: 15px;
}
.btn-primary {
  background: var(--primary-color);
  color: #fff;
  &:active {
    background: var(--primary-color) !important;
  }
  &:hover {
    background: var(--primary-color);
  }
}
.btn-primary.active {
  opacity: .8;
  background: var(--primary-color) !important;
  box-shadow: none !important;
}
.btn-primary.focus {
  background: var(--primary-color) !important;
  box-shadow: none !important;
}
.btn-transparent {
  background: transparent;
  color: var(--primary-color);
  font-weight: 700;
  &:active {
    color: var(--primary-color);
  }
  &:hover {
    color: var(--primary-color);
    color: #94df70;
  }
}
::selection {
  background: var(--primary-color);
  color: #fff;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}
ol {
  list-style-type: none;
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
}
img {
  vertical-align: middle;
  border: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  transition: .2s ease;
  &:hover {
    text-decoration: none;
    color: var(--primary-color);
  }
  &:focus {
    text-decoration: none;
    outline: 0;
  }
}
button {
  cursor: pointer;
  transition: .2s ease;
  &:focus {
    outline: 0;
  }
}
select {
  cursor: pointer;
  transition: .2s ease;
  &:focus {
    outline: 0;
  }
}
a.text-dark {
  &:hover {
    color: var(--primary-color) !important;
  }
}
.slick-slide {
  outline: 0;
}
.section {
  padding: 40px 0;
}
.section-title {
  margin-bottom: 20px;
  font-family: bwnistaint-xbd;
}
.section.minus {
  margin: -40px 0;
}
.bg-cover {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.overlay {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .5;
  }
}
.outline-0 {
  outline: 0 !important;
}
.d-unset {
  display: unset !important;
}
.bg-primary {
  background: var(--primary-color) !important;
}
.bg-gray {
  background: #eaeaea !important;
}
.text-primary {
  color: var(--primary-color) !important;
}
.text-color {
  color: #4c4c4c;
}
.text-dark {
  color: #000 !important;
}
.text-light {
  color: #999 !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.mb-80 {
  margin-bottom: 80px !important;
}
.mb-90 {
  margin-bottom: 90px !important;
}
.mb-100 {
  margin-bottom: 100px !important;
}
.zindex-1 {
  z-index: 1;
}
.rounded-lg {
  border-radius: 15px;
}
.overflow-hidden {
  overflow: hidden;
}
.font-secondary {
  font-family: playfair display, serif !important;
}
.font-tertiary {
  font-family: bwnistaint-xbd !important;
}
.shadow {
  box-shadow: 0 18px 39.1px 6.9px rgba(224, 241, 255, .34) !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.2) !important;
}
.bg-dark {
  background-color: #333 !important;
}
.icon {
  font-size: 45px;
}
.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
}
.icon-light {
  color: #c8d5ef;
}
.slick-dots {
  text-align: center;
  padding-left: 0;
  li {
    display: inline-block;
    margin: 2px;
    button {
      height: 6px;
      width: 12px;
      background: rgba(255, 255, 255, .5);
      color: transparent;
      border-radius: 10px;
      overflow: hidden;
      transition: .2s ease;
      border: 0;
    }
  }
  li.slick-active {
    button {
      background: #fff;
      width: 25px;
    }
  }
}
.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #c7c7c7;
  height: 60px;
  &:focus {
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: none !important;
  }
}
textarea.form-control {
  height: 120px;
}
.card {
  border: 0;
}
.card-header {
  border: 0;
}
.card-footer {
  border: 0;
}
.navigation {
  background-color: var(--primary-color);
  padding: 15px 130px;
  transition: .3s ease;
}
.navigation.nav-bg {
  background-color: var(--primary-color);
  padding: 0px 100px;
}
.navbar {
  .nav-item {
    .nav-link {
      font-family: bwnistaint-xbd;
      text-transform: uppercase;
      padding: 15px;
    }
  }
  .nav-item.active {
    font-weight: 700;
  }
}
.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: #fff;
    }
  }
  .navbar-toggler {
    color: rgba(255,255,255,.8);
    border-color: rgba(255,255,255,.5);
  }
}
.hero-area {
  position: relative;
  h1 {
    position: relative;
    z-index: 2;
  }
  img {
    width: 100%;
  }
}
.layer {
  position: absolute;
  z-index: 1;
}
#l1 {
  bottom: 0;
  left: 0;
}
#l2 {
  top: 190px;
  left: -250px;
}
#l3 {
  top: 200px;
  left: 40%;
}
#l4 {
  top: 200px;
  right: 40%;
}
#l5 {
  top: 100px;
  right: -150px;
}
#l6 {
  bottom: -20px;
  left: 10%;
}
#l7 {
  bottom: 100px;
  left: 20%;
}
#l8 {
  bottom: 160px;
  right: 45%;
}
#l9 {
  bottom: 100px;
  right: -10px;
}
.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
}
.progress-wrapper {
  height: 130px;
  overflow: hidden;
}
.wave {
  position: absolute;
  width: 100%;
  height: 100%;
  &::before {
    content: "";
    position: absolute;
    width: 800px;
    height: 800px;
    bottom: 0;
    left: 50%;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 45%;
    transform: translateX(-50%) rotate(0);
    animation: rotate 6s linear infinite;
    z-index: 10;
  }
  &::after {
    content: "";
    position: absolute;
    width: 800px;
    height: 800px;
    bottom: 0;
    left: 50%;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 45%;
    transform: translateX(-50%) rotate(0);
    animation: rotate 6s linear infinite;
    z-index: 10;
    border-radius: 47%;
    background-color: rgba(255, 255, 255, .9);
    transform: translateX(-50%) rotate(0);
    animation: rotate 10s linear -5s infinite;
    z-index: 20;
  }
}
.edu-bg-image {
  position: absolute;
  left: 0;
  top: -300px;
  z-index: -1;
}
.hover-bg-primary {
  transition: .3s ease;
  &:hover {
    background: var(--primary-color);
    * {
      color: #fff;
    }
  }
}
.active-bg-primary {
  transition: .3s ease;
  background: var(--primary-color);
  * {
    color: #fff;
  }
}
.hover-shadow {
  transition: .2s ease;
  &:hover {
    box-shadow: 0 18px 40px 8px rgba(224, 241, 255, .54) !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2) !important;
  }
}
.hover-wrapper {
  overflow: hidden;
  img {
    transition: .3s ease;
    transform: scale(1.1);
  }
  &:hover {
    img {
      transform: scale(1);
    }
    .hover-overlay {
      opacity: 1;
      visibility: visible;
    }
  }
}
.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease;
}
.hover-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}
.testimonial-content {
  strong {
    color: #2bfdff;
    font-weight: 400;
  }
}
.testimonial-bg-shapes {
  .container {
    position: relative;
    z-index: 1;
  }
  .bg-map {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .bg-shape-1 {
    position: absolute;
    left: 100px;
    top: -50px;
  }
  .bg-shape-2 {
    position: absolute;
    right: 150px;
    top: 50px;
  }
  .bg-shape-3 {
    position: absolute;
    right: 50px;
    top: 200px;
  }
  .bg-shape-4 {
    position: absolute;
    left: 100px;
    bottom: 200px;
  }
  .bg-shape-5 {
    position: absolute;
    right: 200px;
    bottom: -50px;
  }
}
.section-on-footer {
  margin-bottom: -250px;
}
.shadow-down {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    box-shadow: 0 0 80.75px 14.25px rgba(224, 241, 255, .34);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
}
.card-lg {
  flex-direction: row-reverse;
  align-items: center;
}
blockquote {
  display: inline-block;
  padding: 10px 20px;
  background: #eaeaea;
  border-left: 2px solid var(--primary-color);
  font-style: italic;
  font-size: 22px;
}
.content {
  * {
    margin-bottom: 20px;
  }
  strong {
    font-family: playfair display, serif;
    font-size: 22px;
    font-weight: 400;
    color: #000;
    display: inherit;
    line-height: 1.5;
  }
}
.page-title-alt {
  padding: 150px 0 50px;
  .container {
    position: relative;
    z-index: 1;
  }
  .bg-shape-1 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
  .bg-shape-2 {
    position: absolute;
    left: 70px;
    top: 100px;
  }
  .bg-shape-3 {
    position: absolute;
    left: 30%;
    top: 50px;
    transform: rotate(180deg);
  }
  .bg-shape-4 {
    position: absolute;
    left: 100px;
    bottom: 100px;
  }
  .bg-shape-5 {
    position: absolute;
    left: 40%;
    bottom: -25px;
  }
  .bg-shape-6 {
    position: absolute;
    bottom: 100px;
    right: -100px;
  }
}
.border-thick {
  border: 10px solid;
}
.drag-lg-top {
  margin-top: -230px;
}
.page-title {
  padding: 150px 0 50px;
  .container {
    position: relative;
    z-index: 1;
  }
  .bg-shape-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .bg-shape-2 {
    position: absolute;
    left: -20px;
    top: -10px;
  }
  .bg-shape-3 {
    position: absolute;
    left: 10%;
    top: 100px;
  }
  .bg-shape-4 {
    position: absolute;
    left: 50%;
    top: -20px;
  }
  .bg-shape-5 {
    position: absolute;
    left: 90px;
    bottom: -50px;
    transform: rotate(180deg);
  }
  .bg-shape-6 {
    position: absolute;
    right: 20%;
    bottom: -20px;
  }
  .bg-shape-7 {
    position: absolute;
    right: -220px;
    bottom: -100px;
  }
}
.filter-controls {
  li {
    cursor: pointer;
  }
  li.active {
    font-weight: 700;
  }
}
.navbar-brand {
  img {
    width: 180px;
  }
}
.invisible {
  display: none !important;
}
.card-body {
  h4 {
    margin-top: 1rem;
  }
}
footer {
  .text-white {
    font-size: 17px;
  }
  .section {
    padding: 40px 0;
  }
  .border-top {
    padding: 15px 0 !important;
  }
}
.contact.section {
  p {
    font-size: 16px;
    font-weight: 400;
  }
}
.card-img-wrap {
  height: 255px;
  display: flex;
}
.card-img-top {
  object-fit: cover;
  object-position: 25% 0;
}
.post-image {
  width: 100%;
  max-width: 600px;
}
.col-12 {
  ul {
    list-style-type: initial;
    margin-bottom: 1rem;
    li {
      font-weight: 500;
    }
  }
}
.cut-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ourwork {
  .card-body {
    height: 250px;
  }
}
.contact-col {
  display: flex;
  justify-content: space-around;
  * {
    flex: 45%;
  }
}
.carousel-inner {
  .carousel-item {
    height: 65vh;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
* {
  .sr-only {
    background-color: #000;
  }
}
.fa {
  font-size: 80px;
}
.carousel-indicators {
  li {
    background-color: rgba(0,0,0,0.5);
  }
  .active {
    background-color: #000;
  }
  bottom: -1.5rem;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}
.carousel {
  margin-bottom: 2rem;
}
.carousel-item.video {
  iframe {
    height: 65vh;
    width: 70%;
  }
  float: none;
  text-align: center;
}
.standalone-vid {
  width: 100%;
  height: 75vh;
  margin-bottom: 2rem;
}
.slick-list {
  height: auto !important;
}
.slick-track {
  display: flex;
  align-items: center;
}
@media (max-width:991px) {
  h1 {
    font-size: 65px;
  }
  .h1 {
    font-size: 65px;
  }
  h2 {
    font-size: 50px;
  }
  .h2 {
    font-size: 50px;
  }
  .navigation.nav-bg {
    padding: 15px;
  }
  .navigation {
    padding: 15px;
    background: var(--primary-color);
  }
  .card-lg {
    flex-direction: column;
  }
  .drag-lg-top {
    margin-top: 0;
  }
}
@media (max-width:767px) {
  .hero-area {
    overflow: hidden;
  }
  .navbar {
    .navbar-brand {
      img {
        width: 140px;
      }
    }
  }
  .ourwork {
    .card-img-wrap {
      height: 350px;
    }
  }
  .contact-col {
    flex-direction: column;
  }
  .standalone-vid {
    height: 56vh;
  }
}
@media (max-width:575px) {
  .standalone-vid {
    height: 40vh;
  }
}
