{{ define "main" }}
<!-- images = ["/images/Arcam3.jpg", "/images/Arcam1-1.jpg", "/images/Arcam2.jpg"] -->
  <section class="section extra-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="font-tertiary">{{.Title}}</h2>
          <p class="font-secondary">Published on {{ .PublishDate.Format "Jan 02, 2006" }}</span></p>
          {{ if isset .Params "images" }}

          {{ if eq (len .Params.Images) 1 }}
          <img src="{{(index .Params.Images 0) | absURL }}" alt="post-thumb" class="img-fluid d-block mx-auto rounded mb-4 post-image">
          {{ else if ne (len .Params.Images) 0}}
          <div class="container mx-auto mb-4">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" data-touch="true">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                {{ $counter := 0 }}
                {{ range .Params.Images }}
                <li data-target="#myCarousel" data-slide-to="{{$counter}}" {{if eq $counter 0}}class="active"{{ end }}></li>
                {{ $counter = add $counter 1 }}
                {{ end }}
                {{ if .Params.Video }}
                <li data-target="#myCarousel" data-slide-to="{{$counter}}"></>
                {{ end }}
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                {{ $counter = 0 }}
                {{ range .Params.Images }}
                <div class="carousel-item{{ if eq $counter 0 }} active{{ end }}" style="background-image:url({{ . | absURL }})">
                </div>
                {{ $counter = add $counter 1 }}
                {{ end }}
                
                {{ if .Params.Video }}
                <!-- Video slide -->
                {{ $id := "" }}
                {{ with .Params.Video  }}
                {{ if in . "youtube"}}
                {{ $base := path.Base .}}
                {{ $splittedList := split $base "?v=" }}
                {{ $id = substr (index $splittedList 1) 0 11 }}
                {{ else if in . "youtu.be" }}
                {{ $id = path.Base . }}
                {{ else }}
                <div class="carousel-item">
                  <b style="color:red;">Error with video link: must be like https://www.youtube.com/watch?v=HgC9L22BIT4 or https://youtu.be/HgC9L22BIT4</b>
                </div>
                {{ end }}
                {{ end }}
                <div class="carousel-item video">
                  <iframe id="ytplayer" src="https://www.youtube.com/embed/{{$id}}" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                {{ end }}
              </div>

              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          {{ end }}

          {{ else if .Params.Video }}
          {{ $id := "" }}
          {{ with .Params.Video  }}
          {{ if in . "youtube"}}
          {{ $base := path.Base .}}
          {{ $splittedList := split $base "?v=" }}
          {{ $id = substr (index $splittedList 1) 0 11 }}
          {{ else if in . "youtu.be" }}
          {{ $id = path.Base . }}
          {{ else }}
          <div class="carousel-item">
            <b style="color:red;">Error with video link: must be like https://www.youtube.com/watch?v=HgC9L22BIT4 or https://youtu.be/HgC9L22BIT4</b>
          </div>
          {{ end }}
          {{ end }}
          <iframe class="standalone-vid" id="ytplayer" src="https://www.youtube.com/embed/{{$id}}" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          {{end}}

          <div class="content max-width">
            {{.Content }}
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}
